*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', Arial, sans-serif;
}


.header{
    display: grid;
    grid-template-columns: 20% 40% 25% 10% ;
    grid-template-rows: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 200;
    padding: 4px 0;
}

.header_link{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 150px;
    margin-top: 25px;
}

.languages{
    display: flex;
    flex-direction: row;
    gap: 6px;
    font-weight: 500;
    font-size: 15px;
    padding: 15px;
    margin-left: 200px;
    margin-top: 10px;
    cursor: pointer;
}

.languages p:hover{
    color: #ffc83c;
}

.header a{
    text-decoration: none;
    color: #f09c00;
    transition: underline .2s ease-in;
}

.header a:hover{
    text-decoration: underline;
    /* transition: 0.9s; */
}

.header_icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 15px;
    margin-left: 200px;
}

.header_logo img{
    width: 120px;
    height: auto;
    margin-left: 40px;
}

.header_icons img{
    width: 40px;
    height: auto;
}

.header_button button {
    background-color: transparent;
    border: 1px solid  #ffc83c;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: 550;
    margin-top: 1px;
    height: 60px;
    padding: 10px 20px;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    width: 150px;
  
  }
  
  .header_button button:hover {
    color: white;
    background-color: #ffc83c;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: scale(1.02);
  }

.container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70%;
}

.container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* .gallery img{
    width: 338px;
    height: 226px;
    object-fit: cover;
} */

.one{
    position: absolute;
    width: 438px;
    height: 226px;
    margin-top: 80px;
}

.two{
    position: absolute;
    left: 439px;
    top: 80px;
    width: 438px;
    height: 226px;
}

.three{
    position: absolute;
    left: 878px;
    top: 80px;
    width: 438px;
    height: 226px;
}

.four{
    position: absolute;
    top: 307px;
    left: 0;
    width: auto;
    height: 380px;
}

.five{
    position: absolute;
    top: 307px;
    left: 508px;
    width: 280px;
    height: 380px;
}

.six{
    position: absolute;
    top: 307px;
    left: 254px;
    width: auto;
    height: 380px;
}

.seven{
    position: absolute;
    top: 307px;
    right: -60px;
    width: 528px;
    height: 380px;
}

.eight{
    position: absolute;
    top: 688px;
    left: 0;
    width: 340px;
    height: 226px;
}

.nine{
    position: absolute;
    top: 688px;
    left: 341px;
    width: 340px;
    height: 226px;
}

.ten{
    position: absolute;
    top: 688px;
    left: 682px;
    width: 270px;
    height: 226px;
}

.eleven{
    position: absolute;
    top: 688px;
    right: -61px;
    width: 365px;
    height: 226px;
}

.twelve{
    position: absolute;
    top: 915px;
    left: 0;
    width: 450px;
    height: 450px;
}

.thirteen{
    position: absolute;
    top: 915px;
    left: 451px;
    width: 450px;
    height: 450px;
}

.fourteen{
    position: absolute;
    top: 915px;
    left: 903px;
    width: 415px;
    height: auto;
}

.fifteen{
    position: absolute;
    top: 1200px;
    left: 903px;
    width: 415px;
    height: auto;
}